{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CardGenerator</title>
    <link rel="icon" type="image/png" href="{% static 'picture/panda.jpg' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
   </head>
<body>
    <h1>Liste des Phrases</h1>
    <form method="post" action="{% url 'ajouter_phrases' %}">
        {% csrf_token %}
        <textarea name="phrases" cols="50" rows="5"></textarea><br>
        <input type="submit" value="Ajouter">
    </form>
    <br>
    <div class="card-container">
        {% for phrase in phrases %}
        <div class="card">
            <img src="{% static 'picture/zelda_icon/'|add:phrase.icon %}" class="card-icon">
            <div class="card-text">
                {{ phrase.texte }}
            </div>
        </div>
        {% endfor %}
    </div>
    <button id="print-button">Export as PDF</button>
    <script>
document.getElementById("print-button").addEventListener("click", function() {
            window.print();
        });
    </script>
</body>
</html>
